@import url("general-style.css");
@import url("header-style.css");


.add-section {
    display: flex;
    flex-direction: column;
    align-items: center ;    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 20px;    
} 

label {
    font-size: 18px;   
}
.input {
    font-size: 16px;
}

.error {
    color : red !important;
    font-size: 18px;
    margin-top: 10px;
}
.success {
    color : rgb(0, 255, 42) !important;
    font-size: 18px;
    margin-top: 10px;
}

@media (min-width: 769px) {

    form>div>input, form>div>textarea, form>div>select {
    min-width: 650px;
    min-height: 30px;
    margin-top: 5px;
    
    
    }
    
}

@media (min-width: 1025px) {
    form>div>input, form>div>textarea  form>div>select   {
    min-width: 650px;
    }
}
