@import url("general-style.css");



/* Header & Navigation */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

nav {    
    padding: 20px 0 5px 0;
}

.name {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.photo-profil {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    padding: 20px 0;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* fin de header Navigation */


.delete-section {
    display: flex;
    flex-direction: column;
    align-items: center ; 
    gap: 20px;
    margin-top: 25px;   
}
.choice {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.a-del {
    color: rgba(39, 39, 39, 0.717);
    text-decoration: none;
    font-size: 16px;
}


.btn-del{
    
    height: 30px;
    width: 100px;
}
.btn-del:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-radius: 6px ;
    background-color: white;
}

@media (min-width: 769px) and (max-width: 1024px) {

 .a-del {

    font-size: 19px;
}
.btn-del {
    height: 35px;
    width: 200px;
}
}

@media (min-width: 1025px) {

    .a-del {
        font-size: 22px;
    }
    .btn-del {
        height: 40px;
        width: 300px;
    }
}
