  /* Header & Navigation */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

nav {    
    padding: 20px 0 5px 0;
}

.name {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.photo-profil {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    padding: 20px 0;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* style de div Connexion */
.connexion {
    position: absolute;
    right: 3px;
    background-color: rgba(255, 255, 255, 0.6);;
    padding: 7px;
}
.user-name {
    color: rgb(3, 255, 3);
}
.connexion button {
    padding: 3px;
    color: red;
    margin-top: 3px;
}
