@import url("general-style.css");
@import url("header-style.css");

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;  
}

.hero-content {
    max-width: 900px;
}

.hero-subtitle {
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    padding: 30px 0;
}

.hero-description {
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 1.3;
}

.hero-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 20px
}


@media (min-width: 769px) {
    .hero-title {
        font-size: 50px;
    }

    .hero-skills {
        flex-direction: row;
        gap: 50px
    }
}

@media (min-width: 1025px) {
    .hero-title {
        font-size: 60px;
    }
}


